.box-parent-login {
    background-color: #f7f7f7;
    height: inherit;
}

* {
    margin: 0;
    padding: 0;
}


.box-parent-login .box-login {
    width: 300px;
    margin-top: -180px;
    margin-left: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    background-color: white;
    padding: 20px;
}



.btn-outline-primary{
    width: 100%;
    margin-top: 10px;

}

.show {
    display: none;
}