.pesquisar {
    display: flex;
    gap: 15px;
}

.pesquisar .info_cliente {
    width: 50%;
    padding: 0;
}

.pesquisar select {
    height: 38px;
}

.container-fluid .modal_produtos {
    display: flex;
    gap: 15px;


}

.container-fluid .modal_cliente {
    display: flex;
    flex-direction: column;
}
.container-fluid .select_produto {
    width: 100%;
}

.container-fluid .modal_info {
    display: flex;
    justify-content: space-between;

}

.modal_info .total-nota{
    display: flex;
    justify-content: left;
    align-items: end;
}

.modal_info .pagamento-status{
    display: flex;
    justify-content: end;
}

