@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);

:root {
    --bs-blue: #378dfc;
    --bs-indigo: #6610f2;
    --bs-purple: #5b62f4;
    --bs-pink: #d63384;
    --bs-red: #e52527;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #43cc29;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #7f8a99;
    --bs-gray-dark: #444b40;
    --bs-gray-100: #f0f5fa;
    --bs-gray-200: #d9e3f1;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #bed1e6;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #7f8a99;
    --bs-gray-700: #7b8ab8;
    --bs-gray-800: #444b40;
    --bs-gray-900: #212529;
    --bs-primary: #378dfc;
    --bs-secondary: #d9e3f1;
    --bs-success: #43cc29;
    --bs-info: #5b62f4;
    --bs-warning: #ffc107;
    --bs-danger: #e52527;
    --bs-light: #f0f5fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 55, 141, 252;
    --bs-secondary-rgb: 217, 227, 241;
    --bs-success-rgb: 67, 204, 41;
    --bs-info-rgb: 91, 98, 244;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 229, 37, 39;
    --bs-light-rgb: 240, 245, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 123, 138, 184;
    --bs-body-bg-rgb: 217, 227, 241;
    --bs-font-sans-serif: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #7b8ab8;
    --bs-body-bg: #d9e3f1;
    --bs-border-width: 0;
    --bs-border-style: solid;
    --bs-border-color: rgba(55, 94, 148, 0.1);
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #485785;
    --bs-link-hover-color: #3a466a;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 0 solid;
    opacity: .25
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #485785
}

.max-width {
    max-width: 1024px;
    width: 100%;
}

.center-screen {
    margin: 0 auto;
}

.main-body {
    background-color: #ffffff;
}

.padding {
    padding: 10px;
}

body .navbar-nav {

    margin: 0 auto;
}

.numbers {
    cursor: pointer;
}

.bt-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-footer .bt-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

}

.bt-icon a {
    display: flex;
    font-size: 15px;
}

.bt-icon a i {
    display: flex;
    align-items: center;
    margin-right: 5px;

}

.header {
    display: flex;
    justify-content: space-between;
}



.labelicon {
    border: white;
    width: 26px;
    height: 25px;
    color: white;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: .375rem .75rem;
    border-radius: .25rem;
    z-index: 1;
    font-size: 13px;
}

.toast-container {
    z-index: 7000;
  }

  .status{
    border-radius: 10px;
  }